body {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #4b4f65;
}

#main {
    background-color: #ffffff;
    width: 875px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    height: auto;
}

#palette {
    text-align: center;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

select {
    margin: 10px 0;
}

.jscolor {
    width: 20px;
    height: 20px;
    font-size: 0;
}

.left {
    text-align: left;
}

.hidden {
    display: none;
}
